 <% content_for :for_head do %>
 	
 	<meta property="og:title" content="Welcome to Dealsnail| Good deals never hide" />
  	<meta property="og:type" content="website" />
  	<meta property="og:image" content="<%#= asset_path('index/logo.jpg')%>" />
<% end %>

<div class="home">

	<% @articles.each.with_index do |article, index| %>
		<%# if index % 4 == 0 || index == 0 %>
			<div class="row">
		<%# end %>	
				<div class="col-sm-8">
					<%= render "item", :article => article %>
				</div>

				<% if index == 0 %>
				<div class="col-sm-4">
					<div
					  class="fb-like"
					  data-href="https://radiant-temple-9834.herokuapp.com"
					  data-layout="box_count"
					  data-action="like"
					  data-width="450"
					  data-show-faces="true">
					</div>
					
				</div>	
				<% end %>
			</div>
		
		
	<% end %>
	<br>
	<hr>
	
	<%= will_paginate @articles %>
	
</div>