.home {
	
	height:500px;
}

.main {
	padding-top:100px;
}

.css1 { font-size: 1.0em; color:white !important;}
.css2 { font-size: 1.2em; color:white !important;}
.css3 { font-size: 1.4em; color:white !important;}
.css4 { font-size: 1.6em; color:white !important;}



.purple {
	color: #800080;
}